<div class="container">
  <div class="row">
    <div class="col-xl-11 col-lg-11 col-md-10 col-sm-10"></div>
    <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2">
      <a id="login" href="/login">Login</a>
    </div>
  </div>
  <div class="row main">
    <header>
      <div class="col-xl-1 col-lg-1 col-md-1">
	<a id="logohit" href="/"></a>
	<div id="logotype">iw</div>
      </div>
      <div class="col-xl-6 col-lg-1 col-md-1">
      </div>
      <div class="col-xl-5 col-lg-10 col-md-10 hidden-sm-down">
	<nav class="nav">
	  <a class="nav-link" href="/solutions">Solutions</a>
	  <a class="nav-link" href="/platform">Platform</a>
	  <a class="nav-link" href="/white-papers">White Papers</a>
	  <a class="nav-link" href="/contact">Contact Us</a>
	</nav>
      </div>
    </header>
  </div>
  <div class="row" id="logohead">
    <div class="col-sm-1">
      <h1>instawire</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
